// shared css for the login and signup page
@import "../login/login.component.scss";

$bg: #27133a;
$fg: lighten($bg,20%);
$borderWidth: 3px;

body {
  background: $bg;
  font-family: roboto;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  width: 100%;
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin: 0 !important;
}

input[type=radio]:checked + label{
  color: lighten($bg,60%);
  background: $fg;
}

label + input[type=radio] + label {
  
}

.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');