<div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Sort  </button>
    <div style="left: auto"  class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <button type="button" (click)="sortAZ()"class="dropdown-item">A-Z</button>
        <button class="dropdown-item">Z-A</button>
        <button class="dropdown-item">Price (high)</button>
        <button class="dropdown-item">Price (low)</button>
    </div>
</div>
