    h4{
    	font-weight: 600;
	}
	p{
		font-size: 16px;
		margin-top: 5px;
	}
	.price{
		font-size: 1.1vw;
		font-weight:bold;
    	margin: 0 auto;
    	color: #333;
	}

	.left{
		float:right;
		background-color:#349aff;
		border-bottom: 2px solid #4B8E4B;
		font-size:10px;
	}
	.left:hover{
		background-color:#0181ff;
	}
	.right{
		float:right;
		border-bottom: 2px solid #4B8E4B;
		font-size:10px;
	}
	.thumbnail{
		border-color: #f7f7f7;
		border-style: solid;
		border-width:0.5px;
			-webkit-transition: all 0.5s; 
			transition: all 0.5s;
	}
	#product-page-images {
		display: block;
		max-width:310px;
		 max-height:175px;
		 width: auto;
		 height: auto;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}
	@media (max-width: 768px) {
  .btn {
    font-size:50%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn{
    font-size:90%;
    line-height: 1.2;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .btn{
    font-size:50%;
    line-height: 1.2;
  }
}